[submodule "pelican-plugins/ipynb2pelican"]
	path = pelican-plugins/ipynb2pelican
	url = git@github.com:peijunz/ipynb2pelican.git
[submodule "pelican-plugins/modified_from_mtime"]
	path = pelican-plugins/modified_from_mtime
	url = git@github.com:peijunz/modified_from_mtime.git
[submodule "content/MLAPP"]
	path = content/MLAPP
	url = git@github.com:peijunz/mlapp.git
