sudo: required
dist: trusty
language: python
python:
- '3'
cache:
- pip
git:
  submodules: false
before_install:
- sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
- git submodule update --init --recursive
install:
- sudo pip3 install pelican jinja2 py3babel babel beautifulsoup4 markdown nbconvert ipython
  ghp-import pyembed pyembed-rst
- pelican --version
script:
- git config --global user.email "$GIT_EMAIL"
- git config --global user.name "$GIT_NAME"
- git config --global push.default simple
- rm -r themes plugins
- mkdir themes plugins
- svn export https://github.com/peijunz/pelican-themes/trunk/pelican-bootstrap3 themes/pelican-bootstrap3
  --quiet
- git clone --depth=1 https://github.com/peijunz/pelican-plugins plugins
- cd plugins
- git submodule update --init pelican-toc
- git submodule update --init ipynb2pelican
- cd ..
- rm extra/mathjax
- make publish
after_success:
- ghp-import -m "Generate Pelican site" -b master output
- git push -f "https://${GH_TOKEN}@github.com/peijunz/peijunz.github.io.git" master
env:
  global:
    secure: VbeRsBxESxyPgnntQUPoBXVKll3BMQu9AWUZDqax+WxSKsiw0XVXRmH8ySuNL2NHlEUqHULX4HrcDDZ7eDZn71PtD20o9KIHiUEqv0G2D7mUYG+A2SNkEuv2LrMJ+7Ix0jHpFBmaE3JQhy65I7CO8tNeYVngCeTYanqRHZsGEjcYjL9pMUtmeQCcCFBjFPkrcATrnl5bLCzjW1eQ2PjhwmZbXPjplkPFhgiVeSE9ygFbMg2XBaTxlkp/FX3ld3ZfaAzE0bWpnwUsGdWX5qLkQbb9o6oQBrZXkrjzeBvsOFgPiBceRH8MS6zUFMooYid9hDBjVbbfckVeUis1G6ljgyrM12Ty/OPsxpgTa5oddLfZ7Jf8Z1KSqG8+vAmRU3Bi5jyEmcN84TmsFsRZe/1M2qVxPpzm0hB81a8yE/VGVPmtWYvXq4ZTggV1PTg+1Mcn5KMUTsMzGLUdWaeYccAt7CmeLzy6yzNstiHek5B3IKqMWULPXzZZr4f9o23ZPwk0P7qy2WgWTP6ThU6T6LKG6+eR/eo+PwM8nUDYXh3FhAnpDuXsS0GdfGAPh5UUphKn43FNutOw6lM1BSAFx8WnI9TRsFGVd0lhrhFU1b3/kWX20xq5USxw8DtmVf+yZdeUofJ0n/UDLH7+8upbvi0VKks8sGYQLq7QH0jwXAviTwM=
