name: Build

on:
  push:
    branches:
    - src
  
jobs: 
  build:
    runs-on: ubuntu-latest 

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          git submodule update --init --recursive
          python -m pip install --upgrade pip
          pip install pelican beautifulsoup4 markdown nbconvert ghp-import
      - name: Download Source
        run: |
          git clone git@github.com:peijunz/pelican-bootstrap3 themes/pelican-bootstrap3
          git clone --depth=1 https://github.com/peijunz/pelican-plugins plugins && cd plugins
          git submodule update --init pelican-toc ipynb2pelican
      - name: Publish
        run: |
          make publish
          ghp-import -m "Generate Pelican site" -b master output
          git push -f origin master
