name: Build

on:
  push:
    branches:
    - src
  
jobs: 
  build:
    runs-on: ubuntu-latest 

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
          git submodule update --init --recursive
          python -m pip install --upgrade pip
          pip install pelican jinja2 py3babel babel beautifulsoup4 markdown nbconvert ipython pelican-alias ghp-import
          mkdir themes plugins
      - name: Download Source
        run: |
          svn export https://github.com/peijunz/pelican-themes/trunk/pelican-bootstrap3 themes/pelican-bootstrap3 --quiet
          git clone --depth=1 https://github.com/peijunz/pelican-plugins plugins
          cd plugins
          git submodule update --init pelican-toc
          git submodule update --init ipynb2pelican
      - name: Publish
        run: |
          cd .. && make publish
          ghp-import -m "Generate Pelican site" -b master output
          git push -f origin master
